@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-poppins: var(--font-poppins-sans); */
  --font-poppins: var(--font-poppins);
  --text-fluid: clamp(2rem, 8vw, 8vw);
  --text-fluid-sm: clamp(2rem, 3vw, 3vw);
  --text-fluid-md: clamp(2rem, 6vw, 6vw);
  --text-fluid-lg: clamp(4rem, 12vw, 12vw);

  --text-body-sm: clamp(0.5rem, 1vw, 1vw);
  --text-body-md: clamp(1rem, 2vw, 2vw);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* html {
  scroll-behavior: smooth !important;
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
}

/* Headings font */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), sans-serif;
}

/* Lennis Required CSS  */
/* body {
  overflow: hidden;
} */

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}
